# Database
DB_HOST="db"
DB_DATABASE="gmleads_db"
DB_PORT="3306"
DB_USERNAME="admin"
DB_PASSWORD="secret"

# App
FRONTEND_BASE_URL=""

# Error middleware configuration
DISPLAY_ERROR_DETAILS=false
LOG_ERRORS=false
LOG_ERRORS_DETAILS=false

# CRM
CRM_EMAIL=""
CRM_PASSWORD=""

# Github
GITHUB_API_TOKEN=""
GITHUB_REPO_OWNER=""
GITHUB_REPO_NAME=""